# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing and Logs
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Temporary directories
tmp/
temp/

# Local lead captures
data/
